* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 65px;
	background: #fff;
}

#content {
	margin-top: 65px;
}

.nav-link {
	color: black;
}
.nav-link:hover {
	color: silver;
}