{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row mb-2" style="height: 30vh;overflow-y: hidden;">
		<div class="col-12 col-sm-12 col-xl-8 col-xl-9 mx-auto" style="background: #000; padding-left: 0; padding-right: 0">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			  <div class="carousel-inner">
			  	<div class="carousel-item active">
			      <img src="https://pp.userapi.com/c824503/v824503596/a9d12/NK7YSzsIM4Y.jpg" class="d-block w-100" alt="...">
			    </div>
			  	<div class="carousel-item">
			      <img src="https://pp.userapi.com/c824503/v824503596/a9d24/EXF2uvrj4d8.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			        <img src="https://pp.userapi.com/c824503/v824503596/a9d1b/KWJcnqRkqAY.jpg" class="d-block w-100" alt="...">
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-11 col-xl-9 mx-auto mt-3 mb-5">
			<h2 class="text-wrap">Мы поможем Вам реализовать самые смелые шоу-проекты,
связанные с техническим обеспечением любой сложности!</h1>
		</div>
	</div>
	<div class="row" style="background: #f7f7f7">
		<div class="col-12 col-sm-11 col-xl-9 mx-auto">
			<div class="row my-3">
				<div class="col-md-12 col-xl-4">
					<h1>Наш профиль</h1>
					<p>Если вам необходимо профессиональное звуковое, световое, видео оборудование, сценические конструкции установленные специалистами, с профессиональным спокойствием, и данное оборудование будет правильно обслуживаться, тогда мы к вашим услугам!</p>
				</div>
				<div class="col-md-12 col-xl-4">
					<h1>Наш опыт</h1>
					<p>Компания была основана в 2007 году, группой специалистов, обладающих богатым опытом работы в различных направлениях шоу-индустрии. Мы считаем, что наши специалисты, наша самая большая сила.</p>
				</div>
				<div class="col-md-12 col-xl-4">
					<h1>Наши плюсы</h1>
					<p>Мы тесно сотрудничаем со всеми нашими клиентами и партнерами для достижения наилучшего результата. Мы поможем Вам реализовать самые смелые проекты, связанные с техническим обеспечением любой сложности.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="background: #fff">
		<div class="col-12 col-sm-11 col-xl-9 mx-auto mt-3">
			<h1 class="mb-4 text-wrap">Комплексное техническое обеспечение мероприятий.</h1>
			<div class="row mb-2">
				<div class="col-12 col-md-6">
					<img src="http://www.mskzn.ru/img/1-zvuk.jpg">
					<h2>Звуковое оборудование</h1>
					<p>Аренда профессионального звукового оборудования для концертов звезд Российской и зарубежной эстрады, массовых мероприятий, дискотеки на открытом воздухе, презентаций.</p>
				</div>
				<div class="col-12 col-md-6">
					<img src="http://www.mskzn.ru/img/1-svet.jpg">
					<h2>Световое оборудование</h1>
					<p>Аренда светового оборудования в Казани от профессионалов. Художественный свет играет самую важную роль в создании концертного шоу, показа мод, презентации, клубной вечеринки или торжественного события.</p>
				</div>
				<div class="col-12 col-md-6">
					<img src="http://www.mskzn.ru/img/1-video.jpg">
					<h2>Мультимедийное оборудование</h1>
					<p>Широкий спектр продукции и различных моделей для создания яркого и высокотехнологичного решения обеспечит успех технической организации любого мероприятия.</p>
				</div>
				<div class="col-12 col-md-6">
					<img src="http://www.mskzn.ru/img/1-scena.jpg">
					<h2>Конструкции сцены</h1>
					<p>Сценический комплекс - это комплект: подиум (сцена) и тентовая конструкция - крыша, несущая на себе световое и звуковое оборудование, и укрывающая все, что под ней находится от дождя и снега.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="background: #fff">
		<div class="col-12 col-sm-11 col-xl-9 mx-auto">
			<div class="row">
				<div class="col-12">
					<button class="btn btn-success btn-lg col-12 mx-auto" href="#" style="box-shadow: 0 3px 5px #c7c7c7" data-toggle="modal" data-target="#sendRequestModal">Разместить заказ на аренду оборудования</button>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-12 mx-auto mt-3">
					<p>Или вы можете позвонить по телефону:<br><a href="tel:+79393127080" style="font-size: 20pt;color: #218838">+79393127080</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="background: #f7f7f7">
		<div class="col-12 col-sm-11 col-xl-9 mx-auto mt-3">
			<h1>Наши работы</h1>
			<p>Примеры концертов, торжественных событий и инсталляций, техническое оснащение которых было нашей задачей.</p>
		</div>
		<div class="col-12 col-md-11 col-xl-9 mx-auto">
			<div class="row">
				<div class="col-12 col-xl-6 mb-4">
					<div class="card">
						<img src="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Работа 1</h5>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-6 mb-4">
					<div class="card">
						<img src="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Работа 1</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-11 col-xl-9 mx-auto mb-3">
			<a href="" style="color: black">Показать все</a>
		</div>
	</div>
	<div class="row" style="background: #fff; height: 700px">
		<div class="col-12 col-sm-11 col-xl-9 mx-auto my-3">
			<div class="row">
				<div class="col-12">
					<h1>Отзывы о нашей работе</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-11 col-xl-9 mx-auto my-3">
			<h1>Наши партнеры</h1>
		</div>
		<div class="col-12 col-sm-11 col-xl-9 mx-auto mb-5">
			<div class="row">
				<div class="col-12 col-xl-3 mb-3">
					<div class="card">
						<img src="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Партнер 1</h5>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-3 mb-3">
					<div class="card">
						<img src="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Партнер 1</h5>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-3 mb-3">
					<div class="card">
						<img src="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Партнер 1</h5>
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-3 mb-3">
					<div class="card">
						<img src="" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">Партнер 1</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}