{% extends 'base.html' %}

{% block content %}
	<div class="col-9 mx-auto">
		<h1>Мы поможем Вам реализовать самые смелые шоу-проекты, связанные с техническим обеспечением любой сложности!</h1>
	</div>
	<img src="http://www.mskzn.ru/images/shadow-line.png" class="col-12 mx-auto mt-2 mb-4">
	<div class="col-8 mx-auto">
		<div class="row">
			<div class="col-4 mx-auto">
				<div class="row">
					<img src="http://www.mskzn.ru/images/home-top-1.png" width="40" height="32">
					<h2>Наш профиль</h2>
				</div>
				<div class="row">
					<p class="mr-4">Если вам необходимо профессиональное звуковое, световое, видео оборудование, сценические конструкции установленные специалистами, с профессиональным спокойствием, и данное оборудование будет правильно обслуживаться, тогда мы к вашим услугам!</p>
				</div>
			</div>
			<div class="col-4 mx-auto">
				<div class="row">
					<img src="http://www.mskzn.ru/images/home-top-2.png" width="40" height="32">
					<h2>Наш опыт</h2>
				</div>
				<div class="row">
					<p class="mr-4">Компания была основана в 2007 году, группой специалистов, обладающих богатым опытом работы в различных направлениях шоу-индустрии. Мы считаем, что наши специалисты, наша самая большая сила.</p>
				</div>
			</div>
			<div class="col-4 mx-auto">
				<div class="row">
					<img src="http://www.mskzn.ru/images/home-top-3.png" width="40" height="32">
					<h2>Наш плюсы</h2>
				</div>
				<div class="row">
					<p class="mr-4">Мы тесно сотрудничаем со всеми нашими клиентами и партнерами для достижения наилучшего результата. Мы поможем Вам реализовать самые смелые проекты, связанные с техническим обеспечением любой сложности.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}