* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #f0f0f0;
}

header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 66px;
	background: rgba(255,255,255,0.8);
}

.navbar {
	background: rgba(255,255,255,0.8);
}

#content {
	margin-top: 66px;
}

.nav-link {
	color: black;
}
.nav-link:hover {
	color: silver;
}